TZ=UTC

APP_NAME="Project Template"
APP_URL=http://localhost:3000
APP_SECRET=VCOgzMwUE2cU5FnIdReO6xw5wSkvc7gI

# Database
DATABASE_URL=postgresql://postgres:secret@localhost:5432/project_template

# Redis
REDIS_URL=redis://default:secret@localhost:6379/0

# Auth
AUTH_OIDC_ENABLED=true
AUTH_OIDC_ID=iuhk86wvxv4nbc8sxsjac
AUTH_OIDC_SECRET=V8oFqZ47nDvtIXTxcYYdldCvKfyXPQM3
AUTH_OIDC_ISSUER="https://auth.turboost.app/oidc"
AUTH_OIDC_DISCOVERY_URL="https://auth.turboost.app/oidc/.well-known/openid-configuration"

# Gemini
GOOGLE_GENERATIVE_AI_BASE_URL=https://ai-gateway.turboost.app/v1
GOOGLE_GENERATIVE_AI_API_KEY=sk-xxx
